In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/theojolliffe/Downloads/places_2020_census.csv')

In [5]:
includedAreas = ['E92000001',
'E12000009',
'E12000008',
'E12000007',
'E12000006',
'E12000005',
'E12000004',
'E12000003',
'E12000002',
'E12000001',
'E10000034',
'E10000032',
'E10000031',
'E10000030',
'E10000029',
'E10000028',
'E10000027',
'E10000025',
'E10000024',
'E10000023',
'E10000021',
'E10000020',
'E10000019',
'E10000018',
'E10000017',
'E10000016',
'E10000015',
'E10000014',
'E10000013',
'E10000012',
'E10000011',
'E10000008',
'E10000007',
'E10000006',
'E10000003',
'E09000033',
'E09000032',
'E09000031',
'E09000030',
'E09000029',
'E09000028',
'E09000027',
'E09000026',
'E09000025',
'E09000024',
'E09000023',
'E09000022',
'E09000021',
'E09000020',
'E09000019',
'E09000018',
'E09000017',
'E09000016',
'E09000015',
'E09000014',
'E09000013',
'E09000012',
'E09000011',
'E09000010',
'E09000009',
'E09000008',
'E09000007',
'E09000006',
'E09000005',
'E09000004',
'E09000003',
'E09000002',
'E08000037',
'E08000036',
'E08000035',
'E08000034',
'E08000033',
'E08000032',
'E08000031',
'E08000030',
'E08000029',
'E08000028',
'E08000027',
'E08000026',
'E08000025',
'E08000024',
'E08000023',
'E08000022',
'E08000021',
'E08000019',
'E08000018',
'E08000017',
'E08000016',
'E08000015',
'E08000014',
'E08000013',
'E08000012',
'E08000011',
'E08000010',
'E08000009',
'E08000008',
'E08000007',
'E08000006',
'E08000005',
'E08000004',
'E08000003',
'E08000002',
'E08000001',
'E06000060',
'E06000059',
'E06000058',
'E06000057',
'E06000056',
'E06000055',
'E06000054',
'E06000052',
'E06000051',
'E06000050',
'E06000049',
'E06000047',
'E06000046',
'E06000045',
'E06000044',
'E06000043',
'E06000042',
'E06000041',
'E06000040',
'E06000039',
'E06000038',
'E06000037',
'E06000036',
'E06000035',
'E06000034',
'E06000033',
'E06000032',
'E06000031',
'E06000030',
'E06000027',
'E06000026',
'E06000025',
'E06000024',
'E06000023',
'E06000022',
'E06000021',
'E06000020',
'E06000019',
'E06000018',
'E06000017',
'E06000016',
'E06000015',
'E06000014',
'E06000013',
'E06000012',
'E06000011',
'E06000010',
'E06000009',
'E06000008',
'E06000007',
'E06000006',
'E06000005',
'E06000004',
'E06000003',
'E06000002',
'E06000001']

In [22]:
for i in range(len(df)):
    if df['code'][i] in includedAreas:
        print(df['code'][i])
    else:
        df = df.drop([i])

E92000001
E12000001
E12000002
E12000003
E12000004
E12000005
E12000006
E12000007
E12000008
E12000009
E06000001
E06000002
E06000003
E06000004
E06000005
E06000006
E06000007
E06000008
E06000009
E06000010
E06000011
E06000012
E06000013
E06000014
E06000015
E06000016
E06000017
E06000018
E06000019
E06000020
E06000021
E06000022
E06000023
E06000024
E06000025
E06000026
E06000027
E06000030
E06000031
E06000032
E06000033
E06000034
E06000035
E06000036
E06000037
E06000038
E06000039
E06000040
E06000041
E06000042
E06000043
E06000044
E06000045
E06000046
E06000047
E06000049
E06000050
E06000051
E06000052
E06000054
E06000055
E06000056
E06000057
E06000058
E06000059
E06000060
E08000001
E08000002
E08000003
E08000004
E08000005
E08000006
E08000007
E08000008
E08000009
E08000010
E08000011
E08000012
E08000013
E08000014
E08000015
E08000016
E08000017
E08000018
E08000019
E08000021
E08000022
E08000023
E08000024
E08000025
E08000026
E08000027
E08000028
E08000029
E08000030
E08000031
E08000032
E08000033
E08000034
E08000035
E08000036
E08000037
E09000002
E09000003
E09000004
E09000005
E09000006
E09000007
E09000008
E09000009
E09000010
E09000011
E09000012
E09000013
E09000014
E09000015
E09000016
E09000017
E09000018
E09000019
E09000020
E09000021
E09000022
E09000023
E09000024
E09000025
E09000026
E09000027
E09000028
E09000029
E09000030
E09000031
E09000032
E09000033

In [23]:
df

           code                      name   namew  type     parent
1     E92000001                   England  Lloegr  ctry  K04000001
3     E12000001                North East     NaN   rgn  E92000001
4     E12000002                North West     NaN   rgn  E92000001
5     E12000003  Yorkshire and The Humber     NaN   rgn  E92000001
6     E12000004             East Midlands     NaN   rgn  E92000001
...         ...                       ...     ...   ...        ...
8392  E09000029                    Sutton     NaN   lad  E12000007
8393  E09000030             Tower Hamlets     NaN   lad  E12000007
8394  E09000031            Waltham Forest     NaN   lad  E12000007
8395  E09000032                Wandsworth     NaN   lad  E12000007
8396  E09000033               Westminster     NaN   lad  E12000007

[134 rows x 5 columns]

In [24]:
df.to_csv('/Users/theojolliffe/Documents/includedHealthAreas.csv')